/external
/external/dep/Qt
/external/vaa3d/src/v3d_external
/external/vaa3d/src/vaa3d_tools

CMakeCache.txt
CMakeFiles
ITKIOFactoryRegistration
cmake_install.cmake

/ComputeFrangi/Makefile
/ComputeFrangi/ComputeEigenValue_Sorted_Frangi

ComputeFilter

/data
/test-data

/.build
/.deps
/bin
/doxygen-doc

*~
*.a

# gprof output
gmon.out

/lib/config/config.h

/report-gcov
/report-lcov

*.pyc
